/* Nicolas Cuervo */

html{

  height: 100%
  
}

*{

	font-family: 'Arial Rounded MT Bold', sans-serif;

}

.Body{

	background-color: #2F4070;
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-content: center;
  height: 100vh;

}

.TextoMaquinaEscribir{

  display: flex;
  justify-content: center;

}

.TituloMaquinaEscribir{
  
	display: block;
	font-family: "Courier New";
	white-space: nowrap;
	border-right: 2px solid;
	width: 45ch;
	font-size: 2vmax;

	animation:typing 10s steps(45),
	blink .5s infinite step-end alternate;
	overflow: hidden;
	Animation-Delay:5s;
	animation-iteration-count: infinite;

}

@media (max-width: 400px) {

  .TituloMaquinaEscribir{

    font-size: 1.5vmax;

  }

}

@keyframes typing {

	from{width: 0;}	
	
}

@keyframes blink {

	50%{border-color: transparent;}
	 
}

.Section{

	display: flex;
	justify-content: center;

}

.ContenedorPrincipal{

	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
  align-content: center;
  width: 50vmax;

}

.Titulo{

  font-size: 2.1vmax;

}

.ContenedorSecundario{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-wrap: wrap;
	background: #C74242;
	border-radius: 5vmax ;
	padding: 0vmax 3vmax 2vmax 3vmax;
	-webkit-box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.75);

}

.LabelInput{

	font-size: 3vmax;

}

.Input_Individual{

	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;

}

.Input{

	height: 3vmax;
	text-align: center;
	border-color: transparent;
	font-size: 2vmax;
	margin: 1vmax 0px;
	border-radius: 50px;

}

@media (max-width: 500px) {

  .Input{ 

    height: 2vmax;

  } 
  
}

#tiempoRestante{

	font-size: 3vmax;
	margin: 0;

}

.GrupoBoton{

	justify-self: center;
	width: 30vmax;
	height: 4vmax;
  margin: 2vh;
	text-align: center;
	border-radius: 100px;
	border-color: transparent;
	font-size: 2vmax;

}

@media (max-width: 500px) {

  .GrupoBoton{ 

    height: 3.6vmax;

  } 
  
}

.Botones{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.Boton{

	padding: 1.2vmax 1vmax;
	margin: 1vmax 1vmax;
  font-size: 1.2vmax;
	border-color: transparent;
	border-radius: 100px;
	background: #C74242;

}

@media (max-width: 500px) {

  .Boton{

    font-size: 2vmax;
  
  }

}


.BackgroundNumeroUno{

	background: #C74242;

}

.BackgroundNumeroDos{

	background: #2F4070;

}