body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenedor {
  color:#c9ccea;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background: #21234D;
}

.contenedor-pomodoro{
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-pomodoro h1 {
  font-size: 50px;
  margin-bottom:0.5rem;
}

.contenedor-pomodoro h2{
  font-size:30px;
  margin-bottom:1rem;
}

.opciones{
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: .8rem;
  padding:.3rem .3rem;
  background-color: #0C0E1B;
  border-radius: 1.5rem;
}

.opcion-activada {
  color: black;
  background-color: #7575EE;
}

.contenedor-reloj {
  display: flex;
  flex:2;
  align-items: center;
  justify-content: center;
}

.sub-contenedor-reloj {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 7.5rem;
  color:#efefef;
  background: #151932;
  font-size: 3.5rem;
  box-shadow: 1rem 1.5rem 2rem rgba(0,0,0,0.6)
}

.contenedor-botones {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem
}

.contenedor-lista{
  width: 450px;
  text-align: center;
  min-height:400px;
  background: #0C0E1B;
  border-radius: 26px;
  -webkit-box-shadow: 4px -2px 23px 0px rgba(117,117,238,1);
  -moz-box-shadow: 4px -2px 23px 0px rgba(117,117,238,1);
  box-shadow: 4px -2px 23px 0px rgba(117,117,238,1);
}

.sub-contenedor{
  padding: 5%;
}

.sub-contenedor h1{
  font-size: 30px;
  padding: 20px 0px;
}

@media (max-width: 1000px) {
  .contenedor-pomodoro h1 {
    font-size: 40px;
    margin-bottom:0.5rem;
  }
  
  .contenedor-pomodoro h2{
    font-size:20px;
  }

  .contenedor-lista{
    width: 400px;
  }
}

@media (max-width: 850px) {
  .contenedor{
    gap: 10vh;
  }
  .contenedor-pomodoro{
    width: 100%;
  }

  .contenedor-pomodoro h1 {
    font-size: 50px;
  }
  
  .contenedor-pomodoro h2{
    font-size: 25px;
  }

  .sub-contenedor-reloj {
    font-size: 40px;   
  }
}

@media (max-width: 500px) {
  .contenedor-lista{
    width: 90%;  
  }
}

@media (max-width: 400px) {
  .contenedor-pomodoro h1 {
    font-size: 13vw;
  }
  
  .contenedor-pomodoro h2{
    font-size: 6vw;
  }

  .sub-contenedor h1{
    font-size: 7vw;
  }

  .sub-contenedor-reloj{
    padding: 20%;
    font-size: 7vw;
  }
}

@media (max-width: 300px) {
  .contenedor-pomodoro h1 {
    font-size: 15vw;
  }
  
  .contenedor-pomodoro h2{
    font-size: 7vw;
  }

  .opciones{
    flex-direction: column;
  }

  .sub-contenedor-reloj{
    font-size: 10vw;
  }
}

@media (max-width: 250px) {
  .sub-contenedor-reloj{
    font-size: 13vw;
  }
}