.form-container {
  text-align: center;
}
.input-wrapper input {
  height: 50px;
  width: 50px;
  padding: 2rem;
  background-color: #0C0E1B;
  color:#C9CCEA;
  border: none;
  border-radius: 50%;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 22px;
  box-sizing: content-box;
  appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

@media (max-width: 1000px) {
  .input-wrapper input {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 400px) {
  .input-wrapper input {
    height: 10vw;
    width: 10vw;
    padding: 7vw;
    font-size: 5vw;
  }
}

@media (max-width: 300px) {
  .input-wrapper input {
    height: 15vw;
    width: 15vw;
    padding: 8vw;
    font-size: 7vw;
  }
}