.tarea-formulario{
  display: flex;
}

.container{
  margin: 0 !important;
}

.input-texto{
  display: block;
  width: 60%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 0.375rem;
}

.boton-agregar{
  display: block;
  margin: 0 10px;
  width: 90%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 0.375rem;
  height: 50px;
}

@media (max-width: 1000px) {
  .input-texto{
    padding: 1vh 1vw;
  }
  .boton-agregar{
    padding: 1vh 1vw;
  }
}

@media (max-width: 400px) {
  .input-texto{
    padding: 0.5vh 2vw;
    font-size: 5vw;
    height: 5vh;
  }

  .boton-agregar{
    padding: 0.5vh 1vw;
    font-size: 4vw;
    height: 5vh;
  }
}

@media (max-width: 200px) {
  .input-texto{
    padding: 0.5vh 2vw;
    font-size: 5vw;
    height: 3vh;
  }

  .boton-agregar{
    padding: 0.5vh 1vw;
    font-size: 4vw;
    height: 3vh;
  }
}